
<nav class="navbar navbar-expand-lg navbar-custom navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="billing-dasboard">Billing Software</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-receipt" style="font-size: 1.5rem; font-weight: bold;"></i>
                        <a class="nav-link" routerLink="billing-dashboard">Facturas</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-basket" style="font-size: 1.5rem; font-weight: bold;"></i>
                        <a class="nav-link" routerLink="products">Productos</a>
                    </div>

                </li>
                <li class="nav-item">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-person" style="font-size: 1.5rem; font-weight: bold;"></i>
                        <a class="nav-link" routerLink="clients">Clientes</a>
                    </div>
                </li>
            </ul>
           
        </div>

        <a class="navbar-brand">
            <img style="height: 3rem;" src="../../assets/images/user.png" alt="">
        </a>
        <button class="btn" (click)="loggout()">
            <i class="bi bi-box-arrow-left" style="font-size: 1.5rem; font-weight: bold;"></i>
        </button>
    </div>
</nav>
<!---- div where we render all the content ------>

<router-outlet></router-outlet>