<div class="container-fluid">
    <!--- 
     <div class="row">
 
             <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                 <svg class="bi me-2" width="40" height="32">
                     <use xlink:href="#bootstrap"></use>
                 </svg>
                 <span class="fs-4">Sistema Facturación tienda</span>
             </a>
             <hr>
             <ul class="nav nav-pills flex-column mb-auto">
 
                 <li>
                     <a routerLink="" class="nav-link link-dark">
                      <i class="bi bi-house" style="font-size: 30px;"></i>
                         Home
                     </a>
                 </li>
                 <li>
                     <a routerLink="billing-dashboard" class="nav-link link-dark">
                        <i class="bi bi-receipt" style="font-size: 30px;"></i>
                         Facturas
                     </a>
                 </li>
                 <li>
                     <a routerLink="products" class="nav-link link-dark">
                        <i class="bi bi-basket" style="font-size: 30px;"></i>
                         Products
                     </a>
                 </li>
                 <li>
                     <a routerLink="clients" class="nav-link link-dark">
                        <i class="bi bi-person" style="font-size: 30px;"></i>
                         Customers
                     </a>
                 </li>
             </ul>
             <hr>
             <div class="dropdown">
                 <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                     id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                     <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                     <strong>mdo</strong>
                 </a>
                 <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                     <li><a class="dropdown-item" href="#">New project...</a></li>
                     <li><a class="dropdown-item" href="#">Settings</a></li>
                     <li><a class="dropdown-item" href="#">Profile</a></li>
                     <li>
                         <hr class="dropdown-divider">
                     </li>
                     <li><a class="dropdown-item" href="#">Sign out</a></li>
                 </ul>
             </div>
         </div> 
     </div>
 --->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Billing Software</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="billing-dashboard">Facturas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="products">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="clients">Clientes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!---- div where we render all the content ------>

    <router-outlet></router-outlet>


</div>