[*.cs]

# CA1051: No declarar campos de instancia visibles
dotnet_diagnostic.CA1051.severity = none

# CS8602: Desreferencia de una referencia posiblemente NULL.
dotnet_diagnostic.CS8602.severity = none
