<div class="container-fluid">
    <a routerLink="../"> 
        <i class="bi bi-arrow-left" style="font-weight: bold; font-size: 40px;"></i>
    </a>     
</div>

<div class="container d-flex justify-content-center">
    <div class="card col-sm-12 col-md-12 col-lg-8">
        <div class="card-header">
            <h5>Añadir cliente</h5>
        </div>
        <div class="card-body">
            <form [formGroup]="createClientForm">

                <div class="mb-3">
                    <label for="">Nombres</label>
                    <input class="form-control" type="text" formControlName="names">
                </div>
                <div class="mb-3">
                    <label for="">Apellidos</label>
                    <input class="form-control" type="text" formControlName="lastnames">
                </div>
                <div class="mb-3">
                    <label for="">Telefono</label>
                    <input class="form-control" type="text" formControlName="phone">
                </div>
                <div class="mb-3">
                    <label for="">Dirección</label>
                    <input class="form-control" type="text" formControlName="address" >
                </div>

            </form>
            <div class="mb-3">

                <!-- Button trigger modal -->
                <button class="btn btn-secondary mx-1" [disabled]="!createClientForm.valid"
                    (click)="modalService.openModal('confirmSubmitActionModal')">
                    guardar
                </button>
            </div>
        </div>
    </div> 
</div>

<!-- Modal confirm action -->
<div class="modal fade" id="confirmSubmitActionModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Guardar datos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>¿ Esta seguro de enviar los datos registrados sobre el cliente ?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" (click)="onSubmit()">
                    <span *ngIf="submitInProccess == false">Guardar</span>
                    <app-spinner *ngIf="submitInProccess == true"></app-spinner>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal success -->
<div class="modal fade" id="successSubmitModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Operation Exitosa</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
                <div style="font-weight: bold;" class="text-center m-2">
                    <p class="m-2">Los datos han sido guardados correctamente !</p>
                    <i class="bi bi-check-circle" style="font-size: 80px; color: rgb(106, 223, 106)"></i>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                    (click)="modalService.closeAndRedirect('successSubmitModal', '/home/clients')">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal error -->
<div class="modal fade" id="errorSubmitModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Error</h1>
               
            </div>
            <div class="modal-body">
                <div class="text-center m-2">
                    <i class="bi bi-x-circle" style="font-size: 80px; font-weight: bold; color: rgb(223, 106, 106);"></i>
                    <p style="color: rgb(255, 0, 0);"> Error: Internal Server Error</p>
                    <p> Mensaje: {{ HttpError.message }}</p>
                    <p> Status: {{ HttpError.status }}</p>
                    <p>Es probable que se haya perdido la conección a la base de datos.</p>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary"
                    (click)="modalService.closeModal('errorSubmitModal')">Ok</button>
            </div>
        </div>
    </div>
</div>