<h3>Productos</h3>

<a class="btn btn-primary m-3" routerLink="create" routerLinkActive="active">Añadir</a>


<table class="table table-stripe table-dark">

<thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Modelo</th>
        <th scope="col">Precio</th>
        <th scope="col">stock</th>
        <th scope="col">Acciones</th>
    </tr>
</thead>
<tbody>
    <tr>
        <th scope="row">1</th>
        <td>Balon</td>
        <td>24"</td>
        <td>24.000</td>
        <td>7</td>
        <td>
            <a routerLink="1/details">Detalles</a>
        </td>
    </tr>

    <tr *ngFor="let product of productList">
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.model }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.stock }}</td>
        <td>
            <a routerLink="{{ product.id }}/details">Detalles</a>
        </td>
    </tr>

</tbody>

</table>