<div class="container">
    <h3>Productos</h3>
    <a class="btn btn-primary m-3" routerLink="create" routerLinkActive="active">Añadir</a>

</div>

<div class="container">

    <div class="col-4 mb-3">
        <label class="form-label" for="#searchProductBar"></label>
        <input class="form-control p-3" id="searchProductBar" type="text" placeholder="name, modal">
    </div>

    <!-- grid of products -->
     <div class="p-3" style="overflow-y: scroll; height: 70vh">
        <div class="row">
            <div *ngFor="let product of productList" class="col-sm-12 col-md-6 col-lg-3 mb-3">
                <div class="card">
                    <div class="card-header">
                        producto
                    </div>
                    <div style="min-height: 300px" >
                        <img *ngIf="!product.imagePath" src="../../../assets/images/default-product-image.png" style="width: 100%; padding: 0.5rem" alt="default-product-image" >
                    <img *ngIf="product.imagePath" [src]="productService.generateImageUrl( product.imagePath )" style="width: 100%; padding: 0.5rem" >
                    </div>
                    
                    <div class="card-body">
                        <p> <span style="font-weight: bold">Id: </span> {{ product.id }}</p>
                        <p> <span style="font-weight: bold">Nombre: </span> {{ product.name }}</p>
                        <p> <span style="font-weight: bold">V.unit: </span> ${{ product.price | number : '1.0-5' }}</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary" routerLink="{{ product.id }}/details">Detalles</a>
                    </div>
                </div>
            </div>
        </div>
     </div>
    <!-- 
  <table id="productDashboarTable" class="table table-striped table-bordered table-sm row-border hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Modelo</th>
                <th scope="col">Precio</th>
                <th scope="col">stock</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of productList">
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.model }}</td>
                <td>${{ product.price | number : '1.0-5' }}</td>
                <td>${{ product.stock | number : '1.0-5' }}</td>
                <td>
                    <a class="btn btn-primary" routerLink="{{ product.id }}/details">Detalles</a>
                </td>
            </tr>

        </tbody>

    </table>
 -->

</div>