<h3>Clientes</h3>

<div class="container">

<a routerLink="create" class="btn btn-primary mt-3">Añadir Cliente</a>


<div style="overflow-y: hidden; height: 380px;" >
    <table class="table table-stripe table-dark mt-3">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Names</th>
                <th scope="col">Last Names</th>
                <th scope="col">Acciones</th>
            </tr>
       </thead>
        <tbody>
            <tr *ngFor="let client of clients">
            <th scope="row" >{{ client.id }}</th>   
            <th>{{ client.names }}</th> 
            <th>{{ client.lastnames }}</th> 
            <th>
                <a routerLink="{{client.id}}/details">Detalles</a>
                <a routerLink="{{client.id}}/create-new-bill">Detalles</a>
            </th>
            </tr>
           
           
        </tbody>
    
    </table>
</div>

</div>