<div class="container">
    <h3>Clientes</h3>
    <a routerLink="create" class="btn btn-primary mt-3">Añadir Cliente</a>
</div>

<div class="container mt-3">

    <table id="clientDashboardTable" class="table table-striped table-bordered table-sm row-border hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Names</th>
                <th scope="col">Last Names</th>
                <th scope="col">Acciones</th>
            </tr>
       </thead>
        <tbody>
            <tr *ngFor="let client of clients">
            <th scope="row" >{{ client.id }}</th>   
            <th>{{ client.names }}</th> 
            <th>{{ client.lastnames }}</th> 
            <th>
                <a class="btn btn-primary m-1" routerLink="{{client.id}}/details">Detalles</a>
                <a class="btn btn-warning" routerLink="{{client.id}}/create-new-bill">Facturar
                </a>
            </th>
            </tr>
        </tbody>
    </table>

</div>