<div class="container">
    <a routerLink="../../"> <- </a>
            <h3>Detalles Del Cliente</h3>

            <div class="col-md-6 mt-5">

                <div class="mb-3">
                    <p><span style="font-weight: bold;">Id: </span>{{ currentClient.id }}</p>
                    <p><span style="font-weight: bold;">Nombres:</span> {{ currentClient.names }}</p>
                    <p><span style="font-weight: bold;">Apellidos:</span> {{ currentClient.lastnames }}</p>
                </div>

                <div class="mb-3">
                    <a class="btn btn-secondary mx-3" routerLink="../update">Actualizar</a>
                    <a class="btn btn-primary mx-3" routerLink="../../">volver</a>
                </div>
            </div>

            <div class="col-md-6 mt-5">
                <h5>Facturas</h5>

                <div *ngIf="currentClient.bills?.length == 0" class="mb-3">
                    <p> El cliente aun no tiene Facturas
                        cree una con el boton de abajo !
                    </p>
                    <a class="btn btn-primary m-1" routerLink="../add-product">Añadir productos</a>
                </div>

                <!-- table to show bills of client -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Id Factura</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Sub-Total</th>
                            <th scope="col">Descuento</th>
                            <th scope="col">V.total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let bill of currentClient.bills" class="mb-3">
                            <th scope="col">{{ bill.id }}</th>
                            <td>{{ bill.date }}</td>
                            <td>{{ bill.subTotal }}</td>
                            <td>{{ bill.discount }}</td>
                           
                            <td>{{ bill.totalValue }}</td>
                    <td>
                        <a routerLink="/clients/{{clientId}}/bills/{{bill.id}}/details"> Detalles</a>
                       
                    </td>
                        </tr>
                    </tbody>
                </table>
            </div>

</div>