<div class="container-fluid">
    <a routerLink="../../"> <- </a>
    <h3>Detalles Del Cliente</h3>

</div>

<div class="container">

    <div class="col-md-6 mt-5">

        <div class="mb-3">
            <p><span style="font-weight: bold;">Id: </span>{{ currentClient.id }}</p>
            <p><span style="font-weight: bold;">Nombres:</span> {{ currentClient.names }}</p>
            <p><span style="font-weight: bold;">Apellidos:</span> {{ currentClient.lastnames }}</p>
        </div>

        <div class="mb-3">
            <a class="btn btn-secondary mx-3" routerLink="../update">Actualizar</a>
            <a class="btn btn-primary mx-3" routerLink="../../">volver</a>
        </div>
    </div>

    <div class="col-md-6 mt-5">
        <h5>Productos</h5>

        <div *ngIf="currentClient.bills?.length == 0" class="mb-3">
            <p> El cliente aun no tiene Facturas
                cree una con el boton de abajo !
            </p>
            <a class="btn btn-primary m-1" routerLink="../add-product">Añadir productos</a>

        </div>

        <div *ngFor="let b of currentClient.bills" class="mb-3">
            <p><span style="font-weight: bold;">Nombre</span> {{ b.id }}</p>
            <p><span style="font-weight: bold;">Nombre</span> {{ b.name }}</p>
            <p><span style="font-weight: bold;">Nombre</span> {{ b.model }}</p>
            <p><span style="font-weight: bold;">Nombre</span> {{ b.price }}</p>
        </div>
    </div>

</div>