
<div class="container-fluid">
    <a routerLink="../details"> <- </a>
            <h3>Actualizar Datos del Cliente</h3>
</div>

<div class="container">
    <form *ngIf="clientIsLoaded" class="col-md-6" [formGroup]="updateClientForm" (ngSubmit)="onSubmit()">

        <div class="mb-3">
            <label for="">Nombres</label>
            <input class="form-control" type="text" value="{{ currentClient.id}}">
        </div>

        <div class="mb-3">
            <label for="">Nombres</label>
            <input class="form-control" type="text" formControlName="names">
        </div>
        <div class="mb-3">
            <label for="">Apellidos</label>
            <input class="form-control" type="text" formControlName="lastnames">
        </div>
        <div class="mb-3">
           <button class="btn btn-secondary mx-1" type="submit" [disabled]="updateClientForm.valid && !updateClientForm.dirty" >
            guardar
           </button>
           <a class="btn btn-primary mx-1" routerLink="../details">cancelar</a>
        </div>
    </form>
</div>